---
layout:   default
title:    Home 
--- 
<div class="span-12 last">
  <p class="first">
    哟！这是一个Web爱好者的Blog，包含了Ruby<span class="ampersand">&amp;</span>Rails<span class="ampersand">&amp;</span>Mac<span class="ampersand">&amp;</span>胡说八道<span class="ampersand">&amp;</span>冰牛奶等
  </p>
  
  <p class="second">
    在<a href="/notebook.html">Notebook</a>可以看到所有的胡说八道，<a href="/folio.html">Portfolio</a>有些个人的玩具，可想而知的<a href="/about.html">About</a> 中可以看到关于我和这个站点的一切。
  </p>
</div>

<div id="latest-notes" class="span-12 last">  
  <h2>Recent notes</h2>
  {% for post in site.posts limit:5 %}
    {% include post_excerpt.html %}    
  {% endfor %}
  <p>
  想看全部的胡说八道？<a href="/notebook.html">这里</a>
  </p>
</div>