<h2 >Connect <span class="ampersand">&amp;&nbsp;</span> Follow</h2>
{% assign size = '24' %}
<ul  id="contact-icons">
  <li><a class="image-wrapper" href="{{ site.feed }}"><img src="/img/icon/rss.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Subscribe to my <a href="{{ site.feed }}">notebook</a></li>
    <li><a class="image-wrapper"  href="mailto:{{ site.email }}"><img src="/img/icon/mail.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Email <a href="mailto:{{ site.email }}">imwillmouse@gmail.com</a></li>
  <li><a class="image-wrapper"  href="{{ site.twitter }}"><img src="/img/icon/twitter.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Twitter <a href="{{ site.twitter }}">twitter.com/willmouse</a></li>
  <li><a class="image-wrapper"  href="{{ site.github }}"><img src="/img/icon/github.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Github <a href="{{ site.github }}">github.com/weih</a></li>
  <li><a class="image-wrapper"  href="http://www.v2ex.com/member/willmouse"><img src="/img/icon/v2ex.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>V2EX <a href="http://www.v2ex.com/member/willmouse">willmouse</a></li>  
  <li><a class="image-wrapper"  href="http://ruby-china.org/users/willmouse"><img src="/img/icon/rubychina.png" alt="icon" height="{{ size }}" width="{{ size }}"></a>Ruby China <a href="http://ruby-china.org/users/willmouse">willmouse</a></li>  
</ul>